h1 {
	margin: 0;
	padding: 15px 20px 0;
}

h2 {
	color: #0f2b00;
	margin: 2px;
	padding: 5px;
	background-color: #ffe8cf;
	border-radius: 15px;
	font-size: large;
}

body {
	font-family: Verdana, Helvetica, Arial, sans-serif;
	line-height: 125%;
	padding: 15px;
	background-color: #f5ede8;
	font: 100%;
	max-width: 900px;
	margin: 0 auto;
	font-size: small;
}

#site{
	border: 1px solid silver;
	padding: 5px;
	background-color: #fdfbf9;
	border-radius: 15px;
	margin: 3px;
}

#competitive{
	border: 1px solid silver;
	padding: 5px;
	background-color: #fdfbf9;
	border-radius: 15px;
	margin: 3px;
}

#target {
	border: 1px solid silver;
	padding: 5px;
	background-color: #fdfbf9;
	border-radius: 15px;
	margin: 3px;
}


