/* Header things */

header {
}

h1 {
	font-family: "Myriad Pro", Arial, Helvetica, sans-serif;
	font-size: 2em;
	color: black;
	padding-top: 2em;
	padding-bottom: .2em;
	padding-left: .4em;
	border-radius: 6px;
	text-shadow: 2px 2px 2px #bac2cd;
	font-weight: normal;

}

h2 {
	font-family: "Myriad Pro", Arial, Helvetica, sans-serif;
	font-size: x-large;
	color: blue;
	font-weight: normal;
	padding-top: .15em;
}

h3 {

}

nav ul {
	width: 600px;
	margin:0 auto;
	background: none;
	list-style-type: none;
	padding: 0;
	overflow: hidden;
}
nav ul li {
	font-size: large;
	display: inline;
	width: 120px;
	float: left;
}

/* Body things */

body {
	max-width: 960px;
	margin: 0 auto;
}	

html, body {height: 100%;}

#wrap {min-height: 100%;}

#main {overflow:auto;
	padding-bottom: 150px;}

aside {
}

ul {
}

#pocket {
	float: left;
	border: 1px solid black;
	}
/* Footer things */

footer {
	font-size: xx-small;
	position: relative;
	margin-top: -150px; /* negative value of footer height */
	height: 150px;
	clear:both;} 

/*Opera Fix*/
body:before {
	content:"";
	height:100%;
	float:left;
	width:0;
	margin-top:-32767px;/
}

}

/* button graphics and charts */

table {
}

/* forms */
#two-column{
	width: 550px;
}
#two-column #left{
	width: 300px;
	float: left;
}
#two-column #right{
	width: 250px;
	float: right;
}
#two-column p{
	margin-bottom: 12px;
}
#two-column input[type="text"]{
	border:none;
	border:1px solid #000;
	font-size :14px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	width: 540px;
	padding: 5px;
}
#two-column #right input[type="text"], #two-column #left input[type="text"]{
	width:240px;
}
#two-column textarea {
    position: relative;
    padding: 5px;
    border:1px solid #000;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    width: 540px;
}
#two-column input[type="submit"]{
	padding:8px 18px;
	background:#222;
	color:#fff;
	border: 1px solid #fff;
	float:right;
	font-size: 14px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
#two-column input[type="text"]:focus, #two-column textarea:focus{
	background: #eee;
}
#two-column input[type="submit"]:hover{
	background:#fff;
	color:#222;
	border: 1px solid #222;
} 
/* THESE ARE HERE FOR MY REFERENCE

light orange buttons*/
<style type="text/css">
.classname {
	-moz-box-shadow:inset 0px 1px 0px 0px #fed897;
	-webkit-box-shadow:inset 0px 1px 0px 0px #fed897;
	box-shadow:inset 0px 1px 0px 0px #fed897;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #f5a55f), color-stop(1, #f2811d) );
	background:-moz-linear-gradient( center top, #f5a55f 5%, #f2811d 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f5a55f', endColorstr='#f2811d');
	background-color:#f5a55f;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:2px solid #eda933;
	display:inline-block;
	color:#ffffff;
	font-family:arial;
	font-size:18px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:1px 1px 0px #cd8a15;
}.classname:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #f2811d), color-stop(1, #f5a55f) );
	background:-moz-linear-gradient( center top, #f2811d 5%, #f5a55f 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f2811d', endColorstr='#f5a55f');
	background-color:#f2811d;
}.classname:active {
	position:relative;
	top:1px;
}
/* This imageless css button was generated by CSSButtonGenerator.com */
</style>

<style type="text/css">
.classname {
	-moz-box-shadow:inset 0px 1px 0px 0px #fed897;
	-webkit-box-shadow:inset 0px 1px 0px 0px #fed897;
	box-shadow:inset 0px 1px 0px 0px #fed897;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #faad28), color-stop(1, #f2b544) );
	background:-moz-linear-gradient( center top, #faad28 5%, #f2b544 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#faad28', endColorstr='#f2b544');
	background-color:#faad28;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:2px solid #eda933;
	display:inline-block;
	color:#ffffff;
	font-family:arial;
	font-size:18px;
	font-weight:bold;
	padding:6px 65px;
	text-decoration:none;
	text-shadow:1px 1px 0px #cd8a15;
}.classname:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #f2b544), color-stop(1, #faad28) );
	background:-moz-linear-gradient( center top, #f2b544 5%, #faad28 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f2b544', endColorstr='#faad28');
	background-color:#f2b544;
}.classname:active {
	position:relative;
	top:1px;
}
/* This imageless css button was generated by CSSButtonGenerator.com */
</style>
/* dark red buttons*/

<style type="text/css">
.classname {
	-moz-box-shadow:inset 0px 1px 0px 0px #c7c7c7;
	-webkit-box-shadow:inset 0px 1px 0px 0px #c7c7c7;
	box-shadow:inset 0px 1px 0px 0px #c7c7c7;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ad5234), color-stop(1, #7a422e) );
	background:-moz-linear-gradient( center top, #ad5234 5%, #7a422e 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ad5234', endColorstr='#7a422e');
	background-color:#ad5234;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #fc3f00;
	display:inline-block;
	color:#ffffff;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 48px;
	text-decoration:none;
	text-shadow:1px 1px 0px #000000;
}.classname:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #7a422e), color-stop(1, #ad5234) );
	background:-moz-linear-gradient( center top, #7a422e 5%, #ad5234 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#7a422e', endColorstr='#ad5234');
	background-color:#7a422e;
}.classname:active {
	position:relative;
	top:1px;
}
/* This imageless css button was generated by CSSButtonGenerator.com */
</style>
}
/* This imageless css button was generated by CSSButtonGenerator.com */
</style>

<style type="text/css">
.classname {
	-moz-box-shadow:inset 0px 1px 0px 0px #c7c7c7;
	-webkit-box-shadow:inset 0px 1px 0px 0px #c7c7c7;
	box-shadow:inset 0px 1px 0px 0px #c7c7c7;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #7a5f49), color-stop(1, #40342a) );
	background:-moz-linear-gradient( center top, #7a5f49 5%, #40342a 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#7a5f49', endColorstr='#40342a');
	background-color:#7a5f49;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #7a422e;
	display:inline-block;
	color:#ffffff;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 48px;
	text-decoration:none;
	text-shadow:1px 1px 0px #000000;
}.classname:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #40342a), color-stop(1, #7a5f49) );
	background:-moz-linear-gradient( center top, #40342a 5%, #7a5f49 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#40342a', endColorstr='#7a5f49');
	background-color:#40342a;
}.classname:active {
	position:relative;
	top:1px;
}
/* This imageless css button was generated by CSSButtonGenerator.com */
</style>

a:link {
	color: navy;
}
a:visited {
	color: black;
}
a:hover {
	text-decoration: none;
	color: pink;
}
a:active {
	color: aqua;
}
